{% extends 'base.html.j2' %}

{% block title %}
  Command Log
{% endblock title %}

{% block content_before %}
  Command Log
{% endblock content_before %}

{% block content %}
  {% if message %}
    <div class="row">
      <div class="col text-center">
        <h3>{{ message }}</h3>
      </div>
    </div>
    <br/>
  {% endif %}
  <table class="table" id="activity_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Account:Character</th>
            <th>Activity</th>
            <th>Time</th>
            <th>Map</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock  %}


{% block js %}
  {{ super () }}
  <script>
    $(document).ready(function(){
        let activity_table = $('#activity_table').DataTable({
            "order": [[0, "desc"]],
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('log.get_activities') }}",
          });
        });
  </script>
{% endblock %}
