{% extends 'base.html.j2' %}

{% block title %}LOGS{% endblock %}

{% block content_before %}
 LOGS - {{ config.APP_NAME }}
{% endblock %}

{% block content_override %}
  <div class="bg-white mx-5 p-3 rounded">
    <code>
      {{ logs }}
    </code>
  </div>
{% endblock %}
