{% extends 'base.html.j2' %}

{% block title %}About{% endblock %}

{% block content_before %}
  Online Players: {{ online }}
{% endblock %}

{% block content %}
  <div class='card mx-auto mt-5 shadow-sm bg-dark border-primary'>
    <div class="card-body">
      <h4 class="text-center">Staff</h4>

      {% for mod in mods %}
        <div class="row">
          <div class="col text-right">
            {{ mod.username }}
          </div>
          <div class="col">
            {% with gm_level=mod.gm_level %}
              {% include 'partials/_gm_level.html.j2' %}
            {% endwith %}
          </div>
        </div>
      {% endfor %}

      <hr>
      <div class="row">
        <div class="col text-right">
          Source
        </div>
        <div class="col">
          <a href="https://github.com/DarkflameUniverse/NexusDashboard">
            Github
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
