{% extends "bootstrap/base.html" %}
{% block title %}Data Download{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px">

    {# Display logo #}
    <div style="margin-bottom: 50px">
        <img
                src="{{ url_for('static', filename=resources.LOGO) }}"
                class="center-block img-responsive mx-auto d-block"
                alt="DLU Logo"
        >
    </div>

    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">

    {# If the error value is set, display the error in red text #}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {# If the message value is set, display the message in green text #}
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}

    {# Form which takes in Character Name #}
    <form action="{{ url_for('data_download') }}" method="post">
        {# Account Name input #}
        <div class="form-group">
            <label for="character_name">Character Name</label>
            <input type="text" class="form-control" name="character_name" placeholder="Enter username...">
            <small class="form-text text-muted">Full character name.</small>
        </div>

        {# Submit button #}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Download</button>
        </div>
    </form>
    </div>
    <div class="col-lg-3">
    </div>
    </div>
</div>
{% endblock %}