{% extends 'base.html.j2' %}

{% block title %}
  View Report {{ report.id }}
{% endblock title %}

{% block content_before %}
  View Report {{ report.id }}
{% endblock content_before %}

{% block content %}
  <div class="card shadow-sm mx-auto pb-3 bg-dark border-primary" style="width: 100rem;">
    <div class="card-body">

      <div class="row">
        <div class="col text-right">
          Message:
        </div>
        <div class="col">
          {{ report.body }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Client Version:
        </div>
        <div class="col">
          {{ report.client_version }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Other Player:
        </div>
        <div class="col">
          {% set other_char = report.other_player_id|parse_other_player_id %}
          {% if other_char %}
            <a role="button" class="btn btn-primary btn btn-block"
                href='{{url_for('characters.view', id=other_char[0])}}'>
                {{other_char[1]}}
            </a>
          {% else %}
            None
          {% endif %}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Type:
        </div>
        <div class="col">
          {{ report.selection[2:-1]|lu_translate }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Submitted:
        </div>
        <div class="col">
          {{ report.submitted }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Resolved:
        </div>
        <div class="col">
          {{ report.resolved_time }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Resolved By:
        </div>
        <div class="col">
          {{ resolved_by }}
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col text-right">
          Resolution:
        </div>
        <div class="col">
          {{ report.resolution }}
        </div>
      </div>
      <br/>

    </div>
  </div>
{% endblock content %}
