{% extends 'base.html.j2' %}

{% block title %}
  Character Rescue
{% endblock title %}

{% block content_before %}
  Character Rescue
{% endblock content_before %}

{% block content %}
  <form method=post>
    {{ form.csrf_token }}
    <div class="card shadow-sm mx-auto pb-3 bg-dark border-primary" style="width: 20rem;">
      <div class="card-body">
        {{ helper.render_field(form.save_world) }}
        {{ helper.render_submit_field(form.submit) }}
      </div>
    </div>
  </form>
{% endblock  %}
