{% extends 'base.html.j2' %}

{% block title %}
  Reports
{% endblock title %}

{% block content_before %}
  Reports
{% endblock content_before %}

{% block content %}
  <div class="row">
    <div class="col">
      Items:
      <a role="button" class="btn btn-primary btn btn-block"
        href='{{url_for('reports.items_graph')}}'>
        Graph
      </a><br/>
      {% for report in reports_items|reverse %}
        <a role="button" class="btn btn-primary btn btn-block"
          href='{{url_for('reports.items_by_date', date=report.date)}}'>
          {{report.date}}
        </a>
      {% endfor %}
    </div>
    <div class="col">
      Currency:
      <a role="button" class="btn btn-primary btn btn-block"
        href='{{url_for('reports.currency_graph')}}'>
        Graph
      </a><br/>
      {% for report in reports_currency|reverse %}
        <a role="button" class="btn btn-primary btn btn-block"
          href='{{url_for('reports.currency_by_date', date=report.date)}}'>
          {{report.date}}
        </a>
      {% endfor %}
    </div>
    <div class="col">
      U-Score:
      <a role="button" class="btn btn-primary btn btn-block"
        href='{{url_for('reports.uscore_graph')}}'>
        Graph
      </a><br/>
      {% for report in reports_uscore|reverse %}
        <a role="button" class="btn btn-primary btn btn-block"
          href='{{url_for('reports.uscore_by_date', date=report.date)}}'>
          {{report.date}}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock  %}
