{% extends 'base.html.j2' %}

{% block title %}
  Reports
{% endblock title %}

{% block content_before %}
  Reports
{% endblock content_before %}

{% block content %}
  <div class="row">
    <div class="col">
      Items: <br/>
      {% for report in reports  %}
        <a role="button" class="btn btn-primary btn btn-block"
          href='{{url_for('reports.items_by_date', date=report.date)}}'>
          {{report.date}}
        </a>
      {% endfor %}
    </div>
    <div class="col">
      Currency: <br/>
      {% for report in reports  %}
        <a role="button" class="btn btn-primary btn btn-block"
          href='{{url_for('reports.currency_by_date', date=report.date)}}'>
          {{report.date}}
        </a>
      {% endfor %}
    </div>
    <div class="col">
    </div>
  </div>
{% endblock  %}


{% block js %}
  {{ super () }}

{% endblock %}
