{% extends 'base.html.j2' %}

{% block title %}
  Account Management
{% endblock title %}

{% block content_before %}
  Account Management
{% endblock content_before %}

{% block content %}
  <table class="table" id="accounts_table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            {% if config.USER_ENABLE_EMAIL %}
              <th>Email</th>
            {% endif %}
            <th>GM Level</th>
            <th>Locked</th>
            <th>Banned</th>
            <th>Muted</th>
            <th>Registered</th>
            {% if config.USER_ENABLE_EMAIL %}
              <th>Email Confirmed</th>
            {% endif %}
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock  %}


{% block js %}
  {{ super () }}
  <script>
    $(document).ready(function(){
        let accounts_table = $('#accounts_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('accounts.get') }}",
            "columnDefs": [
              { "searchable": false, "targets": [0,7] },
              { "orderable": false, "targets": [0] }
            ]
          });
        });
  </script>
{% endblock %}
