{#
  GAME_MASTER_LEVEL_CIVILIAN           = 0,  // Normal player.
  GAME_MASTER_LEVEL_FORUM_MODERATOR    = 1,  // No permissions on live servers.
  GAME_MASTER_LEVEL_JUNIOR_MODERATOR   = 2,  // Can kick/mute and pull chat logs.
  GAME_MASTER_LEVEL_MODERATOR          = 3,  // Can return lost items.
  GAME_MASTER_LEVEL_SENIOR_MODERATOR   = 4,  // Can ban.
  GAME_MASTER_LEVEL_LEAD_MODERATOR     = 5,  // Can approve properties.
  GAME_MASTER_LEVEL_JUNIOR_DEVELOPER   = 6,  // Junior developer & future content team. Civilan on live.
  GAME_MASTER_LEVEL_INACTIVE_DEVELOPER = 7,  // Inactive developer, limited permissions.
  GAME_MASTER_LEVEL_DEVELOPER          = 8,  // Active developer, full permissions on live.
  GAME_MASTER_LEVEL_OPERATOR           = 9
#}

{% if gm_level==0 %}
  Player
{% elif gm_level==1 %}
  Elevevated Civilan {# Unused #}
{% elif gm_level==2 %}
  Junior Moderator
{% elif gm_level==3 %}
  Moderator
{% elif gm_level==4 %}
  Senior Moderator
{% elif gm_level==5 %}
  Lead Moderator
{% elif gm_level==5 %}
  Junior Developer
{% elif gm_level==7 %}
  Inactive Developer
{% elif gm_level==8 %}
  Developer
{% else %}
  Operator
{% endif %}
(GM Level: {{ gm_level }})
