{% extends 'base.html.j2' %}

{% block title %}
  Items on {{ date }}
{% endblock title %}

{% block content_before %}
  Items on {{ date }}
{% endblock content_before %}

{% block content %}
  <div class='table-responsive'>
    <table class="table table-dark table-striped table-bordered table-hover"
          id="two_weeks"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
        <th scope="col">
          Item
        </th>
        <th scope="col">
          Count
        </th>
        <th scope="col">
          Rarity
        </th>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>
              {{ item.item|get_lot_name }}
            </td>
            <td>
              {{ item.count }}
            </td>
            <td>
              {{ item.item|get_lot_rarity }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock  %}

