{% set stats = character_json.obj.char.attr_stt.split(';') %}
<div class="row">
  <div class="col text-right">
      Currency Collected:
  </div>
  <div class="col">
      {{ stats[0] }}
  </div>
</div>
<div class="row">
  <div class="col text-right">
      Bricks Collected:
  </div>
  <div class="col">
      {{ stats[1] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Smashables Smashed:
  </div>
  <div class="col">
      {{ stats[2] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Quick Builds Completed:
  </div>
  <div class="col">
      {{ stats[3] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Enemies Smashed:
  </div>
  <div class="col">
      {{ stats[4] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Rockets Used:
  </div>
  <div class="col">
      {{ stats[5] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Missions Completed:
  </div>
  <div class="col">
      {{ stats[6] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Pets Tamed:
  </div>
  <div class="col">
      {{ stats[7] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Imagination Power Ups Collected:
  </div>
  <div class="col">
      {{ stats[8] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Life Power Ups Collected:
  </div>
  <div class="col">
      {{ stats[9] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Armor Power Ups Collected:
  </div>
  <div class="col">
      {{ stats[10] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Meters Traveled:
  </div>
  <div class="col">
      {{ stats[11] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Times Smashed:
  </div>
  <div class="col">
      {{ stats[12] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Total Damage Taken:
  </div>
  <div class="col">
      {{ stats[13] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Total Damage Healed:
  </div>
  <div class="col">
      {{ stats[14] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Total Armor Repaired:
  </div>
  <div class="col">
      {{ stats[15] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Total Imagination Restored:
  </div>
  <div class="col">
      {{ stats[16] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Total Imagination Used:
  </div>
  <div class="col">
      {{ stats[17] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Distance Driven:
  </div>
  <div class="col">
      {{ stats[18] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Time Airborne in Car:
  </div>
  <div class="col">
      {{ stats[19] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Racing Imagination Power Ups Collected:
  </div>
  <div class="col">
      {{ stats[20] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Racing Imagination Crates Smashed:
  </div>
  <div class="col">
      {{ stats[21] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Racing Car Boosts Activated:
  </div>
  <div class="col">
      {{ stats[22] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Racing Times Wrecked:
  </div>
  <div class="col">
      {{ stats[23] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Racing Smashables Smashed:
  </div>
  <div class="col">
      {{ stats[24] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      Races Finished:
  </div>
  <div class="col">
      {{ stats[25] }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
      First Place Race Finishes:
  </div>
  <div class="col">
      {{ stats[26] }}
  </div>
</div>
