<div class="row">
  <div class="col text-center">
    {{ zone.attr_map|get_zone_name }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
    Achievements Collected:
  </div>
  <div class="col">
    {{ zone.attr_ac }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
    Bricks Collected:
  </div>
  <div class="col">
    {{ zone.attr_bc }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
    Coins Collected:
  </div>
  <div class="col">
    {{ zone.attr_cc }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
    Enemies Smashed:
  </div>
  <div class="col">
    {{ zone.attr_es }}
  </div>
</div>

<div class="row">
  <div class="col text-right">
    Quick Builds Collected:
  </div>
  <div class="col">
    {{ zone.attr_qbc }}
  </div>
</div>

